$primary-color: #000;

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
.header__content {
    display: flex;
    justify-content: space-between;
    padding: 40px 61px 40px 63px;
    border-bottom: 1px solid #00000029;
    align-items: center;
}

.responsive-nav {
    display: none;
}

nav {
    ul {
        display: flex;
        list-style-type: none;
        a {
            position: relative;
            color: $primary-color;
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
            letter-spacing: 2.4px;
            text-transform: uppercase;
            margin-left: 31px;
        }
    }

    li.active {
        a {
            text-shadow: 1px 0 0 currentColor;
            color: #171100;
        }
        a:hover {
            text-shadow: 1px 0 0 currentColor;
            color: #171100;
        }
        a::after {
            position: absolute;
            left: 21.5px;
            bottom: -59px;
            left: 0px;
            content: "";
            display: block;
            width: 66px;
            height: 2px;
            background: #171100;
            border-radius: 1px;
        }
    }
}

//  End Header

/* Main content */

.main-content {
    width: 854px;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding-top: 77px;
    align-items: center;
    justify-content: center;
}

.main-content__img {
    margin: auto;
}

.main-content__title {
    color: $primary-color;
    text-align: center;
    font-size: 5.4rem;
    font-weight: 700;
    margin: auto;
    padding-top: 56px;
}

.main-content__desc {
    color: $primary-color;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    width: 592px;
    padding-bottom: 20px;
}
// End Main content

/* Articles */


.articles {
    padding-top: 23px;
    width: 640px;
    align-self: center;
    border-top: 2px solid $primary-color;
    border-radius: 1px;
    .articles__title{
        color: $primary-color;
        text-align: center;
        font-size: 4.4rem;
        font-weight: 700;
    }
    .articles__layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 90px 28px;
    }
    .articles__layout-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        .desc {
            color: $primary-color;
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
            width: 262px;
        }
    }
}
// End Articles

/* Footer */
footer {
    background: $primary-color;
    display: flex;
    flex-direction: column;
    .footer__list {
        display: flex;
        justify-content: space-between;
    }
    .footer__list a {
        color: #fff;
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .footer__list a:nth-child(even) {
        font-weight: 400;
    }
    .footer__mini-logo {
        margin-top: 105px;
        align-self: center;
    }
    .footer__desc {
        color: #fff;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        width: 488px;
        align-self: center;
    }
    .footer__links {
        align-self: center;
        display: flex;
        gap: 27px;
        margin-top: 30px;
        a {
            color: #fff;
            font-size: 1.6rem;
            font-weight: 500;
            text-decoration-line: underline;
        }
    }
    .copyright {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: -50px;
        padding-top: 64px;
        p {
            color: #fff;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 500;
            display: inline-block;
        }
        p:last-child {
            margin-top: -10px;
            padding-bottom: 32px;
        }
    }
}

