$primary-color: #000;

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
.header__content {
    display: flex;
    justify-content: space-between;
    padding: 40px 61px 40px 63px;
    border-bottom: 1px solid #00000029;
    align-items: center;
}

.responsive-nav {
    display: none;
}

nav {
    ul {
        display: flex;
        list-style-type: none;
        a {
            position: relative;
            color: $primary-color;
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
            letter-spacing: 2.4px;
            text-transform: uppercase;
            margin-left: 31px;
        }
    }

    li.active {
        a {
            text-shadow: 1px 0 0 currentColor;
            color: #171100;
        }
        a:hover {
            text-shadow: 1px 0 0 currentColor;
            color: #171100;
        }
        a::after {
            position: absolute;
            left: 21.5px;
            bottom: -59px;
            left: 0px;
            content: "";
            display: block;
            width: 66px;
            height: 2px;
            background: #171100;
            border-radius: 1px;
        }
    }
}
//  End Header

/* Main content */
.main-content {
    width: 840px;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding-top: 77px;
    align-items: center;
    justify-content: center;
    .main-content__img {
        margin: auto;
    }
    .main-content__title {
        width: 800px;
        color: $primary-color;
        text-align: center;
        font-size: 4.7rem;
        font-weight: 650;
        margin: auto;
        padding-top: 56px;
    }
    .main-content__desc {
        color: $primary-color;
        width: 500px;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        padding-bottom: 20px;
    }
}
// End Main content

/* Articles */
.articles {
    padding-top: 23px;
    width: 640px;
    align-self: center;
    border-top: 2px solid $primary-color;
    border-radius: 1px;
    .articles__title{
        color: $primary-color;
        text-align: center;
        font-size: 4.4rem;
        font-weight: 700;
    }
    .articles__layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 1px 28px;
    }
    .articles__layout-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        .desc {
            color: $primary-color;
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
            width: 262px;
        }
    }
}
// End Articles

/* Footer */
footer {
    background: $primary-color;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    .footer__list {
        display: flex;
        justify-content: space-between;
        margin-top: 18px;
        a {
            color: #fff;
            font-size: 1.9rem;
            font-weight: 800;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
    .footer__list a:nth-child(even) {
        font-weight: 400;
    }
    .footer__mini-logo {
        margin-top: 105px;
        align-self: center;
    }
    .footer__desc {
        margin-top: 20px;
        color: #fff;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        width: 540px;
        align-self: center;
    }
    .footer__links {
        align-self: center;
        display: flex;
        gap: 27px;
        margin-top: 30px;
        a {
            color: #fff;
            font-size: 1.8rem;
            font-weight: 400;
            text-decoration-line: underline;
        }
    }
    .copyright {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: -50px;
        padding-top: 64px;
        p {
            color: #fff;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 500;
            display: inline-block;
        }
        p:last-child {
            margin-top: -10px;
            padding-bottom: 32px;
        }
    }
}
// End Footer

//Responsive
@media screen and (max-width: 1000px) {
    html {
        min-width: fit-content;
        width: 100%;
    }

    main {
        width: 100%;
        min-width: fit-content;
    }

    /* Header */
    header{
        .header__content{
            .logo{
                img{
                    flex-shrink: 0;
                }
            }
            nav{
                ul{
                    display: none;
                }
            }
            .responsive-nav {
                display: block;
                img {
                    width: 50px;
                }
            }
        }
    }

    /* Main content */
    .main-content {
        min-width: fit-content;
        .main-content__title {
            font-size: 6.2rem;
            padding-bottom: 24px;
        }
        .main-content__img {
            padding-top: 52px;
            width: 100%;
            img{
                min-width: 100%;
                width: 100%;
            }
        }
        .main-content__desc {
            font-size: 5rem;
            padding-bottom: 52px;
        }
    }

    /* Articles */
    .articles {
        padding-top: 30px;
        width: 100%;
        border-top: 10px solid #000;
        .articles__title {
            font-size: 6.5rem;
            padding-top: 56px;
            padding-bottom: 20px;
        }
        .articles__layout {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(12, 1fr);
        }
        .articles__layout-item {
            width: 100%;
            img {
                width: 80%;
            }
            .desc {
                font-size: 5rem;
                min-width: 80%;
            }
        }
    }
    /* Footer */
    footer {
        width: 100%;
        margin-top: 82px;
        .footer__list{
            a {
                font-size: 2.8rem;
            }
            a:nth-child(n+4) {
                 display: none;
            }
        }
        .footer__mini-logo{
            img {
                width: 436.368px;
            }
        }
        .footer__desc {
            font-size: 2rem;
            padding-top: 25px;
        }
        .footer__links{
            a {
                font-size: 2rem;
            }
            .copyright{
                p{
                    font-size: 2rem;
                }
            } 
            
        }
    }
}



